.cat-logo {
    width: 80px;
    height: 60px;
}

.title-size {
    font-size: 2em;
}

.dark-red {
    background-color: #3C0404 !important;
}

.change-width {
    max-width: 900px;
}

.arvo {
    font-family: 'Arvo', serif;
}

.carousel-image {
    object-fit: cover;
    width: 900px;
    height: 400px;
}  

.card-size {
    font-weight: 700;
}

.background {
    max-width: 900px;
    width: auto;
    margin: 0 auto;
    padding: 40px 40px;
    background-color: #3C0404 !important;
}

.card-background {
    margin: 10px;
    padding: 10px;
    width: 18rem;
}

.card-image {
    object-fit: cover;
    height: 103px;
    border-radius: 5px;
}

.pointer {
    cursor: pointer;
}