.change-width {
    max-width: 900px;
}

.arvo {
    font-family: 'Arvo', serif;
}

.carousel-image {
    object-fit: cover;
    width: 900px;
    height: 400px;
}  

.card-size {
    font-weight: 700;
}

.card-background {
    margin: 10px;
    padding: 10px;
    width: 18rem;
}

.card-image {
    object-fit: cover;
    height: 103px;
    border-radius: 5px;
}