.background {
    max-width: 900px;
    width: auto;
    margin: 0 auto;
    padding: 15px 15px;
    background-color: #3C0404 !important;
}

.change-width {
    max-width: 900px;
}

.carousel-image {
    object-fit: cover;
    width: 900px;
    height: 400px;
}  

@media screen and (max-width: 740px) {
    .carousel-image {
        object-fit: cover;
        width: 360px;
        height: 250px;
    }
    
}

.card-size {
    font-weight: 700;
}

.card-background {
    margin: 10px 5px;
    padding: 10px;
    width: 18rem;
}

.card-image {
    object-fit: cover;
    height: 103px;
    border-radius: 5px;
}